# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
.expo-shared/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# typescript
*.tsbuildinfo

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
lerna-debug.log*

# Misc
.expo/
*.pid
*.seed
*.stackdump
*.log
*.gz
*.tgz
*.tmp
.tmp/
.cache/
*.lock

# Expo specific
*.expo-shared/config.json
